*{
margin:0px;
padding:0px;
box-sizing:border-box;
list-style:none;
}
html,body{
width:100%;
height:100%;
font-family:sans-serif;
}
.none{
display:none;
}
a{
text-decoration:none;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.container{
max-width:1470px;
margin:20px auto;
padding:0 15px;
}
.header,.footer {
   padding: 8px 0;
   background-color: teal;
}
h3,p{
   text-align: center;
   margin-bottom: 16px;
}
main {
   flex:1 auto;
}
.uncorrect {
   width: 1000px;
}
.side-nav{
   display: none;
}
.side-nav.open{
   display: block;
}
table{
   width: 100%;
   border: 1px solid #000;
}